@{
    ViewData["Title"] = "Dashboard";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body class="bg-gray-200">
    <div>
        <div class="container mx-auto my-8 px-4">
            <h2 class="text-xl font-bold mb-4">Resumo de Vendas</h2>
            <div class="flex flex-wrap -mx-2">
                <div class="w-full md:w-1/2 xl:w-1/3 px-2 mb-4">
                    <div class="bg-white shadow rounded-lg p-4">
                        <h3 class="text-lg font-bold mb-2">Vendas por Garçom</h3>
                        <canvas id="chart1"></canvas>
                    </div>
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 px-2 mb-4">
                    <div class="bg-white shadow rounded-lg p-4">
                        <h3 class="text-lg font-bold mb-2">Vendas por Mesa</h3>
                        <canvas id="chart2"></canvas>
                    </div>
                </div>
            </div>
            <h2 class="text-xl font-bold my-8">Levantamento de Quantidades Vendidas</h2>
            <div class="flex flex-wrap -mx-2">
                <div class="w-full md:w-1/2 xl:w-1/3 px-2 mb-4">
                    <div class="bg-white shadow rounded-lg p-4">
                        <h3 class="text-lg font-bold mb-2">Quantidade de produtos Vendidos</h3>
                        <canvas id="chart3"></canvas>
                    </div>
                </div>
                <div class="w-full md:w-1/2 xl:w-1/3 px-2 mb-4">
                    <div class="bg-white shadow rounded-lg p-4">
                        <h3 class="text-lg font-bold mb-2">Categorias Vendidas</h3>
                        <canvas id="chart4"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script>
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("SalesByGarcon", "Garcom")',
            type: 'GET',
            success: function (result) {
                var salesByGarconData = result
                var labels = salesByGarconData.map(function (item) {
                    return item.garcom;
                });

                var data = salesByGarconData.map(function (item) {
                    return item.total_sales;
                });
                var ctxVendas = document.getElementById('chart1').getContext('2d');
                var myChart = new Chart(ctxVendas, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Vendas por garçom',
                            data: data,
                            backgroundColor: 'rgba(54, 162, 235, 0.2)',
                            borderColor: 'rgba(54, 162, 235, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetSaleByMesas", "Mesa")',
            type: 'GET',
            success: function (result) {
                var salesByMesaData = result;
                var labels = salesByMesaData.map(function (item) {
                    return item.mesa;
                });

                var data = salesByMesaData.map(function (item) {
                    return item.total_sales;
                });

                var ctxMesa = document.getElementById('chart2').getContext('2d');
                var chart = new Chart(ctxMesa, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Vendas por mesa',
                            data: data,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("GetTotalSales", "Produto")',
            type: 'GET',
            success: function (result) {
                var salesByProductData = result;
                var labels = salesByProductData.labels;

                var data = salesByProductData.data;

                var ctxQuantidade = document.getElementById('chart3').getContext('2d');
                var chart = new Chart(ctxQuantidade, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Vendas por produto',
                            data: data,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

    $(document).ready(function () {
        $.ajax({
            url: '@Url.Action("MostSoldByCategory", "Produto")',
            type: 'GET',
            success: function (result) {
                var mostSoldProductByCategoryData = result;
                var labels = mostSoldProductByCategoryData.labels;

                var data = mostSoldProductByCategoryData.data;

                var ctxQuantidade = document.getElementById('chart4').getContext('2d');
                var chart = new Chart(ctxQuantidade, {
                    type: 'bar',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Produtos mais vendidos por categoria',
                            data: data,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 99, 132, 1)',
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
    });

</script>
