<!-- Modal de Edição -->

<body>
    <div id="modalEditarMesa" class="modal fixed z-10 inset-0 overflow-y-auto">
        <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
            <!-- Máscara de fundo -->
            <div class="fixed inset-0 transition-opacity">
                <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
            </div>
            <!-- Conteúdo do modal -->
            <div
                class="modal-content bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:w-full sm:max-w-lg">
                <form action="/mesas/editar" method="POST">
                    <div class="px-6 py-4">
                        <div class="mb-4">
                            <label class="block text-gray-700 font-bold mb-2" for="numeroMesa">Número da Mesa:</label>
                            <input type="text" name="numeroMesa" id="numeroMesa"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                value="mesa.NumeroMesa">
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 font-bold mb-2" for="status">Status:</label>
                            <input type="text" name="status" id="status"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                value="mesa.Status">
                        </div>
                        <div class="mb-4">
                            <label class="block text-gray-700 font-bold mb-2" for="horaAbertura">Hora de
                                Abertura:</label>
                            <input type="text" name="horaAbertura" id="horaAbertura"
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                value="mesa.HoraAbertura">
                        </div>
                    </div>
                    <div class="px-6 py-4 bg-gray-100 text-right">
                        <button type="button"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-gray-500 hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                            onclick="fecharModalEditarMesa()">Cancelar</button>
                        <button type="submit"
                            class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-500 hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

<script>
    function abrirModalEditarMesa() {
        document.getElementById("modalEditarMesa").classList.remove("hidden");
    }

    function fecharModalEditarMesa() {
        document.getElementById("modalEditarMesa").classList.add("hidden");
    }
</script>